<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @article.subcategory %>
</p>

<p>
  <strong>Url:</strong>
  <%= @article.url %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @article.upvotes %>
</p>

<p>
  <strong>Media type:</strong>
  <%= @article.media_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
